<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tiptime</key>
	<array/>
	<key>restduration</key>
	<string>10</string>
	<key>padingtime</key>
	<string>1</string>
	<key>data</key>
	<array>
		<dict>
			<key>subwork</key>
			<array>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>50</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>墙壁俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>40</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>上斜俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>膝盖俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>12</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>半俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>标准俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>窄距俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>偏重俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单肩俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>杠杆俯卧撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>6</string>
						</dict>
						<dict>
							<key>time</key>
							<string>100</string>
							<key>section</key>
							<string>1</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单臂俯卧撑</string>
				</dict>
			</array>
			<key>icon</key>
			<string>cc1</string>
			<key>exp</key>
			<string>0</string>
			<key>level</key>
			<string>0</string>
			<key>small_icon</key>
			<string>minf</string>
			<key>large_icon</key>
			<string>f</string>
			<key>chname</key>
			<string>俯卧撑</string>
		</dict>
		<dict>
			<key>subwork</key>
			<array>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>50</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>肩倒立深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>40</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>折刀深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>支撑深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>35</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>50</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>半深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>标准深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>窄距深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>偏重深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单腿半深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单腿辅助深蹲</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>50</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单腿深蹲</string>
				</dict>
			</array>
			<key>icon</key>
			<string>cc2</string>
			<key>exp</key>
			<string>0</string>
			<key>level</key>
			<string>0</string>
			<key>large_icon</key>
			<string>s</string>
			<key>small_icon</key>
			<string>mins</string>
			<key>chname</key>
			<string>深蹲</string>
		</dict>
		<dict>
			<key>subwork</key>
			<array>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>40</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>垂直引体</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>水平引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>折刀引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>11</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>半引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>标准引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>窄距引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>7</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>偏重引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>4</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>11</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单臂半引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>3</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>7</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单臂辅助引体向上</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>1</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>3</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>6</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单臂引体向上</string>
				</dict>
			</array>
			<key>icon</key>
			<string>cc3</string>
			<key>exp</key>
			<string>0</string>
			<key>level</key>
			<string>0</string>
			<key>large_icon</key>
			<string>y</string>
			<key>small_icon</key>
			<string>miny</string>
			<key>chname</key>
			<string>引体向上</string>
		</dict>
		<dict>
			<key>subwork</key>
			<array>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>40</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>坐姿屈膝</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>35</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>平卧抬膝</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>平卧屈举腿</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>平卧蛙举腿</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>平卧直举腿</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>悬垂屈膝</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>悬垂屈举腿</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>悬垂蛙举腿</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>悬垂半举腿</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>悬垂直举腿</string>
				</dict>
			</array>
			<key>icon</key>
			<string>cc4</string>
			<key>exp</key>
			<string>0</string>
			<key>level</key>
			<string>0</string>
			<key>small_icon</key>
			<string>minj</string>
			<key>large_icon</key>
			<string>j</string>
			<key>chname</key>
			<string>举腿</string>
		</dict>
		<dict>
			<key>subwork</key>
			<array>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>50</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>短桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>40</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>直桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>高低桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>25</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>顶桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>20</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>半桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>6</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>标准桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>3</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>6</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>下行桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>2</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>4</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>上行桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>1</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>3</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>6</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>合桥</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>1</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>3</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>铁板桥</string>
				</dict>
			</array>
			<key>icon</key>
			<string>cc5</string>
			<key>exp</key>
			<string>0</string>
			<key>level</key>
			<string>0</string>
			<key>small_icon</key>
			<string>minq</string>
			<key>large_icon</key>
			<string>q</string>
			<key>chname</key>
			<string>桥</string>
		</dict>
		<dict>
			<key>subwork</key>
			<array>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>60</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>120</string>
							<key>section</key>
							<string>1</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>顶墙倒立</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>60</string>
							<key>section</key>
							<string>1</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>乌鸦式</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>30</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>60</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>120</string>
							<key>section</key>
							<string>1</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>靠墙倒立</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>半倒立撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>15</string>
							<key>section</key>
							<string>3</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>标准倒立撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>9</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>12</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>窄距倒立撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>10</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>偏重倒立撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>4</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>6</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>8</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单肩半倒立撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>3</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>4</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>6</string>
							<key>section</key>
							<string>2</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>杠杆倒立撑</string>
				</dict>
				<dict>
					<key>norms</key>
					<array>
						<dict>
							<key>time</key>
							<string>1</string>
							<key>section</key>
							<string>1</string>
						</dict>
						<dict>
							<key>time</key>
							<string>2</string>
							<key>section</key>
							<string>2</string>
						</dict>
						<dict>
							<key>time</key>
							<string>5</string>
							<key>section</key>
							<string>1</string>
						</dict>
					</array>
					<key>count</key>
					<string>0</string>
					<key>subname</key>
					<string>单臂倒立撑</string>
				</dict>
			</array>
			<key>icon</key>
			<string>cc6</string>
			<key>exp</key>
			<string>0</string>
			<key>level</key>
			<string>0</string>
			<key>small_icon</key>
			<string>mind</string>
			<key>large_icon</key>
			<string>d</string>
			<key>chname</key>
			<string>倒立</string>
		</dict>
	</array>
</dict>
</plist>
